<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Inicio.css">
    <title>English Adventures</title>
</head>
<body>
        <header>
            <div class="titulo"><i>English Adventures</i></div>
            <div class="sombra"></div>
        </header>
        <div class="container">
            <div class="Frase">Let’s Study English</div>
            <div class="logo"></div>
        </div>
    <div class="login-box">
        <h2>Inicios de Sesión</h2>
        <div class="img"></div>
        <form>
            <div class="user-box">
                <input type="text" name="" required>
                <label>Usermane</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required>
                <label>Password</label>
            </div>
            <a href="http://localhost:8080/">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
        </form>
    </div>
</body>
</html>