:root {
    /* paleta de colores */
    --colorFondoBlanco: #e0e0e0;
    --colorPrimario: #009ef7;
    --colorBlanco: #ffffff;
    --colorBlancoRelax: #eee6e6;
    --colorNegro: #000000;
    --colorNegroRelax: #222;
    --colorGris: #666666;
    --color-bg: #1e1e2d;

    --redondeo: 1rem;
    --separacion: 1.0rem;
}

/* HTML */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url('fondo.jpg'); /* Aquí se define el color de fondo con transparencia */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

* {
    /* font-family: var(--fontPrincipal); */
    color: black;
}

*,
*:before,
*:after,

/* BODY */
body {
    font-size: 1.6rem;
    line-height: 30px;
}

/* GLOBALES: */
.contenedor {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .contenedor {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .contenedor {
        /* width: 85%;
        max-width: 120rem; */
        width: min(85%, 120rem);
    }
}

/* HEADERS */
h1 {
    font-size: 3rem;
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; }

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2.0rem;
}

/* IMAGENES */
img {
    max-width: 100%;
    margin: 0;
    vertical-align: top;
}

.centrar-texto {
    text-align: center;
}

button {
    cursor: pointer;
}